<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>

    </div>
    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete a user</legend>
                <div class="input-group" hidden>
                    <label>Id: </label>
                    <input type="text" value="<%= user.id%>" name="userId" />
                </div>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" value="<%= user.email%>" name="email" />
                </div>

                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>

    </div>
</body>

</html>